@{
    ViewData["Title"] = "About the .NET Core App";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<p>This is a brief description about this Web Application ... </p>
