@{
    ViewData["Title"] = "Contact Me";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    VITS Solution Developer<br />
    705 Zinnia Towers Brgy. Katipunan EDSA Q.C.<br />
    <abbr title="Phone">P:</abbr>
    63.939.7140231
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Crisvega71@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MarketingCORE@example.com</a>
</address>
